env:
  server:
    port: 8080

server:
  port: ${env.server.port}

eureka:
  instance:
    hostname: www.b309-playground.com
#    prefer-ip-address: true
#    non-secure-port-enabled: false
#    secure-port-enabled: true
#    secure-port: ${env.server.port}
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://www.b309-playground.com:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include:
          - "info"

spring:
  application:
    name: OAUTH2-SERVICE



  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://ssafy-project.mysql.database.azure.com:3306/playground?serverTimezone=UTC&characterEncoding=UTF-8&useSSL=true
    username: ssafy
    password: b309oob309oo*&


  jpa:
    show-sq: true
    hibernate:
      ddl-auto: update # validate
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: www.b309-playground.com # i8b309.p.ssafy.io # localhost
      port: 6379


oauth2:
  api_gateway_url: "https://www.b309-playground.com" # "https://i8b309.p.ssafy.io" # "https://localhost:8080" #
  client:
    registration:
      client-id:
        kakao: 0ec9e81052acada4b61a0e98229b431d
